# Локальний запуск через PostgreSQL на локальному ПК
PGHOST=localhost
PGPORT=5432
PGDATABASE=pompi_catalog
PGUSER=postgres
PGPASSWORD=postgresql_password

# Для Render / хмарної БД
# DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE
# DB_SSL=false