<!DOCTYPE html>
<html lang="uk">
<head>
    <%- include('partials/head', { title: 'Помпі - Головна' }) %>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section id="main-section" class="section">
            <h1>Ласкаво просимо до каталогу!</h1>
        </section>
    </main>

    <%- include('partials/auth-forms') %>
    <%- include('partials/footer') %>
</body>
</html>